<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.yotchang4s.gikolet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GikoletApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/GikoletTheme" >
>
        <activity
            android:name=".GikoletActivity"
            android:label="@string/appName"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>